# Data Science Tools And Ecosystem

## Author
Riju Koirala

## In this notebook, data science tools and ecosystem are summarized.

**Objectives**

-Insert and delete a code cell 

-Write comments in Python 

-Create and use Markdown cells

Write comments in Python
-Create and use Markdown cells

### Some of the popular language that data scientists use are:
1. Python
2. R
3. Java

### Some of the commonly used libraries used by data scientists are:
1. Numpy
2. Pands
3. Matplotlib
4. Visualization

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Tensorflow         |
| Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
3 * 4
#This is a simple arithmetic expression to multiply and then we will add the integer.

12

In [17]:
12 + 5

17

In [18]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335